@import 'tailwindcss';

@theme {
	--font-sans: 'Geist', sans-serif;
	--font-dot: 'Doto', sans-serif;

	--color-bg: #000;
	--color-fg: #fff;
	--color-subdued: var(--color-neutral-700);
	--color-accent: var(--color-red-500);

	--spacing-ch: 1ch;
	--spacing-lh: 1lh;
}

@custom-variant standalone {
	@media (display-mode: standalone) {
		@slot;
	}
}

@variant no-spoiler (.group\/game:has([name='no-spoiler']:checked) &);

@layer base {
	* {
		min-width: 0;
	}

	html {
		scroll-behavior: smooth;
	}

	label,
	select,
	button {
		cursor: pointer;
	}

	abbr {
		text-decoration: none;
	}

	img {
		width: auto;
		height: auto;
	}

	th {
		font-weight: normal;
	}
}

/* animations */

@utility anim-fade {
	--x: 0;
	--y: 0;
	animation: anim-fade-to var(--tw-duration, var(--default-transition-duration))
		ease-in-out forwards;
}
@utility anim-fade-to-l {
	@apply anim-fade;
	--x: 1rem;
}
@utility anim-fade-to-r {
	@apply anim-fade;
	--x: -1rem;
}
@utility anim-fade-to-t {
	@apply anim-fade;
	--y: 1rem;
}
@utility anim-fade-to-b {
	@apply anim-fade;
	--y: -1rem;
}

@keyframes anim-fade-to {
	from {
		opacity: 0;
		translate: var(--x, 0) var(--y, 0);
	}
}

/* utilities */

@utility overflow-fade {
	--offset: 2ch;
	mask: linear-gradient(
		to right,
		transparent,
		black var(--offset),
		black calc(100% - var(--offset)),
		transparent
	);
}

@utility overflow-fade-r {
	--offset: 1ch;
	mask: linear-gradient(
		to right,
		black 50%,
		black calc(100% - var(--offset)),
		transparent
	);
}

@utility blur-gradient {
	@apply from-bg before:pointer-events-none;

	&::before {
		@apply absolute inset-0 -z-1 backdrop-blur;
	}
}

@utility blur-gradient-to-t {
	@apply blur-gradient bg-linear-to-t;

	&::before {
		@apply -top-4 mask-t-from-25% mask-t-to-100%;
	}
}

@utility blur-gradient-to-b {
	@apply blur-gradient bg-linear-to-b;

	&::before {
		@apply -bottom-4 mask-b-from-25% mask-b-to-100%;
	}
}

@utility no-scrollbar {
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none;
	}
}
